# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env
backend/.env

# Database
*.db

# Streamlit cache
.streamlit/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Model cache
*.pkl
data/creditcard.csv